@{
    ViewBag.Title = "Tietokanta";
}


<h2>Tietokannan malli.</h2>
<div>
    <img src="~/Content/database.jpg" alt="Tietokantamalli" />
</div>

<div>
    @Html.ActionLink("Takaisin etusivulle", "Index", "Home")
</div>
